# mara
-e git+https://github.com/mara/mara-config.git@master#egg=mara-config
-e git+https://github.com/mara/mara-cli.git@master#egg=mara-cli

-e git+https://github.com/mara/mara-app.git@mara-config-changes#egg=mara-app
-e git+https://github.com/mara/mara-acl.git@mara-config-changes#egg=mara-acl
-e git+https://github.com/mara/mara-db.git@mara-config-changes#egg=mara-db
-e git+https://github.com/mara/mara-page.git@mara-config-changes#egg=mara-page
-e git+https://github.com/mara/data-integration.git@mara-config-changes#egg=data-integration

-e git+https://github.com/mara/bigquery-downloader.git@mara-config-changes#egg=bigquery-downloader
-e git+https://github.com/mara/etl-tools.git@mara-config-changes#egg=etl-tools

# running flask
gunicorn
# To get better app discovering
flask>1.0

# downloading data from s3
awscli<1.14.0
